pbr>=2.0.0
netaddr >= 0.7.7
twisted >= 13.2
pyroute2 >= 0.4.1
stevedore>=1.16.0
oslo.concurrency>=3.8.0 # Apache-2.0
oslo.config!=3.18.0,>=3.14.0 # Apache-2.0
oslo.log>=1.14.0  # Apache-2.0
oslo.rootwrap>=2.0.0
oslo.serialization>=1.10.0 # Apache-2.0
pecan
exabgp >= 4.0.2

